.gallery-section {
    padding: 100px 5vw;
    background-color: #000;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 15px;

    max-width: 1400px;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: #111;
}

/* --- MOSAICO FECHADO --- */

.gallery-item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}


.gallery-item:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.gallery-item:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.gallery-item:nth-child(4) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

.gallery-item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.gallery-item:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 2 / 2;
}

/* --- IMAGEM --- */
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: grayscale(100%);
    transition: transform 0.6s ease, filter 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
    filter: grayscale(0%);
}

/* --- RESPONSIVO --- */
@media (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .gallery-item {
        grid-column: auto !important;
        grid-row: auto !important;
        height: 250px;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        display: flex;
        flex-direction: column;
    }

    .gallery-item {
        height: 300px;
    }
}
